{% extends 'base.html.twig' %}

{% block title %}realisations{% endblock %}

{% block body %}
<h1>realisations</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ realisation.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ realisation.title }}</td>
        </tr>
        <tr>
            <th>Content</th>
            <td>{{ realisation.description }}</td>
        </tr>
        {# <tr>
            <th>Image</th>
            <td>{{ realisation.images[1] }}</td>
        </tr> #}
    </tbody>
</table>

<a href="{{ path('api_realisations_index') }}">back to list</a>

<a href="{{ path('realisations_edit', {'id': realisation.id}) }}">edit</a>

{{ include('realisations/_delete_form.html.twig') }}
{% endblock %}